.advantages {
  margin-bottom: 42px;
}

.advantages__title {
  margin-top: -3px;

  @include font(36px, 60px);
  font-weight: 400;
}

.advantages__item {
  display: flex;
  margin-bottom: 20px;
  font-family: $font-other;

  @include font(14px, 18px);
  color: $font-other-color;
}

.advantages__item::before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  background-color: $button-color;
}

.advantages__item--eco::before {
  content: url(" ../img/advantage-leaf@1x.png");
}

.advantages__item--to-cook::before {
  content: url("../img/advantage-powder@1x.png");
}

.advantages__item--hearty::before {
  content: url("../img/advantage-dining@1x.png");
}

.advantages__item--quickly::before {
  content: url("../img/advantage-clock@1x.png");
}


.advantages__item--quicklyX::before {
  content: url("../img/advantage-clock@1x.png");
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  flex-shrink: 0;
}

/*------------------------------------*/

@media (min-width: $tablet-width) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item {
    position: relative;
    width: 324px;

    padding-left: 0;
    padding-right: 80px;
    padding-top: 117px;

    @include font(16px, 24px);
  }
}

@media (min-width: $desktop-width) {
  .advantages__item {
    width: 245px;
    padding-right: 0;
  }
}
