.advantages {
  margin-bottom: 47px;
}

.advantages__title {
  margin-top: 0;

  @include font(36px, 60px);
  font-weight: 400;
}

.advantages__item {
  position: relative;
  padding-left: 80px;
  margin-bottom: 26px;
  font-family: $font-other;

  @include font(14px, 18px);
  color: $font-other-color;
}

.advantages__item::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  left: 0;
  top: 0;
  background-color: $button-color;
}

.advantages__item::after {
  position: absolute;
  content: "";
  left: 15px;
  top: 15px;
  background-position: 50% 50%;
}

.advantages__item--eco::after {
  width: 26px;
  height: 29px;

  @include bg-img("advantage-leaf@1x.png");
}

.advantages__item--to-cook::after {
  width: 29px;
  height: 31px;

  @include bg-img("advantage-powder@1x.png");
}

.advantages__item--hearty::after {
  width: 29px;
  height: 31px;

  @include bg-img("advantage-dining@1x.png");
}

.advantages__item--quickly::after {
  width: 26px;
  height: 31px;

  @include bg-img("advantage-clock@1x.png");
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    position: relative;
    width: 324px;
    margin-right: 60px;
    padding-left: 0;
    padding-right: 80px;
    padding-top: 117px;

    @include font(16px, 24px);
  }

  .advantages__item:nth-child(2n) {
    margin-right: 0;
  }
}
