.categories__item {
  background-color: $bg-grey;
  padding: 22px 30px;
  margin-bottom: 20px;
}

.categories__title,
.categories__link {
  font-family: $oswald;
  text-transform: uppercase;
  color: $black;
}

.categories__title {
  @include font(24px, 27px);
  margin-top: 0;
  margin-bottom: 40px;
}


.categories__description {
  margin: 0;
  margin-bottom: 45px;
}

.categories__link {
  @include font(16px, 16px);
}
