.contacts__wrapper {
  display: flex;
  padding-top: 27px;
  padding-bottom: 26px;
  justify-content: space-between;
}

.contacts__title {
  width: 50%;

  @include font(16px, 20px);
  font-weight: 400;
  text-transform: uppercase;
}

.contacts__address {
  width: 50%;
  font-family: $font-other;

  @include font(14px, 20px);
  font-style: normal;
  color: $font-other-color;
}

.contacts__map-wrapper {
  min-height: 362px;

  @include bg-img("bg-map-mobile@1x.png");
  background-position: 50% 50%;
  text-align: center;
}

.contacts--grey {
  background-color: $bg-other-color;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding: 65px 40px 61px;
  }

  .contacts__title {
    padding-right: 150px;

    @include font(20px, 25px);
  }

  .contacts__address {
    padding-left: 120px;
    text-align: right;

    @include font(16px, 20px);
  }
}


@media (min-width: $desktop-width) {
  .contacts .container {
    position: relative;
  }

  .contacts__wrapper {
    position: absolute;
    width: 570px;
    padding-left: 77px;
    padding-right: 90px;
    padding-top: 67px;
    padding-bottom: 64px;
    background-color: $white;
    top: 100px;
    left: 40px;
  }

  .contacts__title,
  .contacts__address {
    width: 155px;
  }
}
