.extra-product-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 15px;
  border-top: 1px solid $border-catalog-color;
}

.extra-product-item:last-child {
  padding-bottom: 18px;
  border-bottom: 1px solid $border-catalog-color;
  margin-bottom: 40px;
}

.extra-product-item__title {
  margin-top: 0;
  margin-bottom: 12px;

  @include font(16px, 16px);
  font-weight: 400;
  text-transform: uppercase;
}

.extra-product-item__name,
.extra-product-item__value {
  margin-bottom: 10px;
  font-family: $font-other;

  @include font(14px, 14px);
  color: $font-other-color;
}

.extra-product-item__button {
  width: 100%;
}

.extra-product-item__link {
  width: 100%;
  color: $font-main-color;
}

@media (min-width: $tablet-width) {
  .extra-product-item {
    border: 1px solid $border-catalog-color;
    padding: 28px 38px;
  }

  .extra-product-item__value {
    width: 95px;
    text-align: right;
  }

  .extra-product-item__name {
    width: 245px;
    text-align: right;
  }

  .extra-product-item__link {
    width: 286px;
    margin-right: auto;
  }
}

@media (min-width: $desktop-width) {
  .extra-product-item__button {
    width: 245px;
  }

  .extra-product-item {
    width: 895px;
    align-items: baseline;
    padding: 14px 0;
    border: none;
    border-top: 1px solid $border-catalog-color;
    border-bottom: 1px solid $border-catalog-color;
  }

  .extra-product-item__value {
    width: 80px;
    text-align: right;
  }

  .extra-product-item__value,
  .extra-product-item__name {
    text-align: left;
  }

  .extra-product-item:last-child {
    margin-bottom: 0;
  }
}
