.form {
  margin-bottom: 34px;
}

.form__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 26px;
  padding-top: 16px;

  @include font(36px, 60px);
  font-weight: 400;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 320px;
    height: 1px;
    top: 0;
    left: -20px;
    background-color: $border-catalog-color;
  }
}

.form__description {
  display: block;
  width: 240px;
  margin-top: 0;
  margin-bottom: 40px;

  @include font(14px, 18px);
  text-transform: uppercase;
}

.form__group {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: none;
}

.form__legend {
  margin-bottom: 35px;

  @include font(24px, 24px);
}


.form__button {
  width: 100%;
  margin-bottom: 16px;
}

.form__note {
  padding-left: 60px;
  font-family: $font-other;

  @include font(14px, 16px);
  color: $font-other-color;
}

.form__input[type="text"],
.form__input[type="number"],
.form__input[type="email"],
.form__input[type="tel"] {
  height: 45px;
  margin-bottom: 14px;
  padding-left: 16px;
  border: 1px solid $border-field-color;
  flex-grow: 1;

  &:hover {
    border: 1px solid $border-field-color-hover;
  }

  &:focus {
    border: 2px solid $border-field-color-active;
  }
}


.form__label {
  position: relative;
  display: block;
  margin-right: 10px;

  @include font(16px, 30px);
  text-transform: uppercase;
}


.form__group--selection-program::after,
.form__group--selection-program::before {
  content: "";
  position: absolute;
  display: block;
  width: 320px;
  height: 1px;
  left: -20px;
  background-color: $border-menu-color;
}

.form__group--selection-program::before {
  top: -21px;
}

.form__group--selection-program::after {
  bottom: -8px;
}


.form__input::-webkit-input-placeholder,
.form-textarea-field {
  font-family: $font-main;

  @include font(16px, 18px);
  text-transform: uppercase;
  color: $font-other-color;
}

.form__group--about-cat .form__item,
.form__group--contacts .form__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}


.form__input[type="radio"],
.form__input[type="checkbox"] {
  display: none;
}

/*фоpма -- выбор диеты */

.form__group--selection-program {
  margin-bottom: 35px;
}

.form__input[type="radio"]+.form__label {
  padding-left: 46px;
  margin-bottom: 13px;
  cursor: pointer;


  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: 1px solid $radio-field-color;
    border-radius: 50%;
  }

  &:hover::before,
  &:focus::before {
    border: 1px solid $radio-field-hover-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__input[type="radio"]:checked+.form__label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 9px;
  left: 9px;
  background-color: $button-color;
  border-radius: 50%;
}

/*фоpма -- контактные данные */

.form__group--contacts {
  margin-bottom: 13px;
}

.form__group--contacts .form__item {
  position: relative;
}

.email-logo {
  position: absolute;
  top: 15px;
  right: 17px;
}

.phone-logo {
  position: absolute;
  top: 13px;
  right: 15px;
}

.form__input[type="email"]:focus+svg,
.form__input[type="tel"]:focus+svg {
  fill: $button-color;
}

/* форма -- блок с комментарием*/
.form__group--comment {
  margin-bottom: 26px;
}

.form-textarea-field {
  height: 150px;
  width: 280px;
  padding: 13px;
  padding-left: 15px;
  padding-right: 5px;
  border: 1px solid $border-field-color;
  resize: none;
}

/* форма -- блок дополнительных товаров*/
.form__group--extra-product {
  margin-bottom: 20px;
}

.form__input[type="checkbox"]+.form__label {
  padding-left: 46px;
  margin-bottom: 13px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 1px;
    left: 0;
    border: 1px solid $radio-field-color;
  }

  &:hover::before,
  &:focus::before {
    border: 1px solid $radio-field-hover-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__input[type="checkbox"]:checked+.form__label::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 16px;
  top: 8px;
  left: 5px;
  background-image: url("../img/icon-tick.svg");
}

@media (min-width: $tablet-width) {
  .form__title {
    margin-bottom: 56px;

    @include font(60px, 60px);
  }

  .form__description {
    width: 370px;
    margin-bottom: 70px;
    padding-left: 40px;

    @include font(20px, 30px);
  }

  .form__group {
    margin-left: 40px;
    margin-right: 36px;
  }

  .form__label {
    padding-right: 17px;

    @include font(20px, 20px);
    text-transform: uppercase;
  }

  .form__input[type="text"],
  .form__input[type="number"],
  .form__input[type="email"],
  .form__input[type="tel"] {
    height: 52px;
    margin-bottom: 20px;
    padding-left: 19px;
  }

  .form__input::-webkit-input-placeholder,
  .form-textarea-field {
    @include font(20px, 20px);
  }

  .form__group--selection-program::after,
  .form__group--selection-program::before {
    display: none;
  }

  .form__group--selection-program {
    border: 1px solid $border-field-color;
    padding: 34px 88px 0;
  }

  .form__legend {
    margin-bottom: 76px;

    @include font(36px, 36px);
  }

  .form-textarea-field {
    height: 174px;
    width: 100%;
    padding: 14px 18px;
  }

  .form__group--extra-product .form__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__group--extra-product .form__item {
    width: 245px;
  }

  .form__button {
    width: 283px;
  }
}

@media (min-width: $desktop-width) {
  .form__description {
    padding-left: 0;
  }

  .form__group {
    margin-left: 0;
    margin-right: 0;
  }

  .form__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__group--about-cat,
  .form__group--selection-program {
    width: 570px;
  }

  .form__group--contacts .form__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__group--contacts .form__item {
    width: 570px;
  }
}
