.page-header .container {
  position: relative;
}

.page-header__logo {
  display: block;
  padding-top: 11px;
  padding-bottom: 13px;
}

@media (min-width: $tablet-width) {
  .page-header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-header__logo-image {
    display: block;
    width: 173px;
    height: 58px;
  }
}
