.product-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 24px;
  border: 1px solid $border-catalog-color;
}

.product-item__wrapper {
  width: 138px;
  display: flex;
  justify-content: space-between;
}

.product-item__name {
  width: 50%;
  margin-right: 10px;
  word-break: break-all;
}

.product-item__value {
  margin-left: auto;
  word-break: break-all;
}

.product-item__product-name {
  width: 80px;
  margin-top: 22px;
  margin-bottom: 12px;
  word-break: break-all;

  @include font(16px, 20px);
  font-weight: 400;
  text-transform: uppercase;
}

.product-item__description {
  font-family: $font-other;
  font-size: 12px;
  line-height: 16px;
  color: $font-other-color;
}

.product-item__button {
  width: 100%;
}

.product-item__link {
  color: $font-main-color;
}

.product-item__image {
  display: block;
}

@media (min-width: $tablet-width) {
  .product-item {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 324px;
    min-height: 512px;
    padding: 0;
    padding-bottom: 40px;
    border: none;
    background-image: linear-gradient($white 81px, $bg-other-color 81px);
  }

  .product-item__image {
    margin-bottom: 37px;
  }

  .product-item__product-name {
    width: 130px;
    margin: 0 auto 20px;
    text-align: center;

    @include font(20px, 20px);
  }

  .product-item__description {
    margin-bottom: 31px;
    font-family: $font-other;

    @include font(16px, 16px);
    color: $font-other-color;
  }

  .product-item__wrapper {
    width: 248px;
    padding-top: 7px;
    padding-bottom: 8px;
    border-bottom: 1px solid $border-slider-controls;

    @include font(16px, 16px);
  }

  .product-item__name {
    width: 50%;
    margin-right: 10px;
    word-break: break-all;
  }

  .product-item__button {
    width: 249px;
  }
}

@media (min-width: $desktop-width) {
  .product-item {
    width: 245px;
  }

  .product-item__wrapper {
    width: 169px;
    border-bottom: 1px solid $border-slider-controls;
  }

  .product-item__button {
    width: 169px;
  }
}
