.selection-program {
  font-family: $oswald;
  color: $white;
  font-weight: 400;
  @include bg-img("index-background-mobile.jpg");
  background-position: 50% 0;
  text-align: center;
  padding-top: 28px;
}

.selection-program__title {
  @include font (36px, 36px);
  margin-top: 0;
  margin-bottom: 28px;
}

.selection-program__slogan {
  display: block;
  @include font (14px, 14px);
  text-transform: uppercase;
  margin-bottom: 302px;
}

.selection-program__button {
  width: 280px;
}
