.selection-program {
  position: relative;
  padding-top: 28px;
  margin-bottom: 22px;
  text-align: center;

  @include bg-img("index-background-mobile.jpg");
  color: $white;
  background-position: 50% 0;
}

.selection-program__title {
  margin-top: 0;
  margin-bottom: 28px;

  @include font(36px, 36px);
  font-weight: 400;
}

.selection-program__slogan {
  display: block;
  margin-bottom: 302px;

  @include font(14px, 14px);
  text-transform: uppercase;
}

.selection-program__button {
  width: 280px;

  @include font(14px, 18px);
}
.selection-program__image {
  position: absolute;
  top: 150px;
  left: 25px;
}
