.site-list {
  text-align: center;
}

.site-list__item::before {
  content: "";
  position: absolute;
  display: block;
  width: 320px;
  height: 1px;
  left: 0;
  background-color: $border-menu-color;
}

.site-list__item:last-child::after {
  content: "";
  position: absolute;
  display: block;
  width: 320px;
  height: 1px;
  left: -0;
  background-color: $border-menu-color;
}

.site-list__link {
  display: block;
  padding: 25px 0;

  @include font(20px, 20px);
  font-weight: 700;
  color: $font-main-color;
  text-transform: uppercase;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 490px;
  }

  .site-list__link {
    padding: 25px 0;
    margin: 0 18px;

    @include font(18px, 25px);
    font-weight: 400;
    color: $font-main-color;
  }

  .site-list__item:last-child .site-list__link {
    margin-right: 0;
  }

  .site-list__item::before,
  .site-list__item:last-child::after {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 610px;
  }

  .site-list__link--white {
    color: $white;
  }
}
