.site-list {
  text-align: center;
}

.site-list__item::before {
  content: "";
  position: absolute;
  display: block;
  width: 320px;
  height: 1px;
  background-color: $border-menu-color;
  transform: translate(-20px);
}

.site-list__item:last-child::after {
  content: "";
  position: absolute;
  display: block;
  width: 320px;
  height: 1px;
  background-color: $border-menu-color;
  transform: translate(-20px);
}

.site-list__link {
  display: block;
  padding: 25px 0;

  @include font(20px, 20px);
  font-weight: 700;
  color: $font-main-color;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    width: 440px;
    justify-content: space-between;
  }

  .site-list__link {
    padding: 25px 0;

    @include font(18px, 25px);
    font-weight: 400;
    color: $font-main-color;
  }

  .site-list__item::before,
  .site-list__item:last-child::after {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list__link--white {
    color: $white;
  }
}
