.social__item {
  margin-right: 37px;
}

.social__item:nth-child(2) {
  margin-right: 40px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 75px;
  padding-top: 22px;
  padding-bottom: 18px;
  border-top: 1px solid $border-social-color;
  border-bottom: 1px solid $border-social-color;
}

.social__link {
  fill: $social-link-color;

  &:hover,
  &:focus {
    fill: $button-color;
  }

  &:active {
    fill: $button-color;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    border: none;
  }
}
