.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 10px;
  text-align: center;
  font: inherit;
  font-size: 16px;
  font-weight: 20px;
  color: $white;
  background-color: $button-color;
  border: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
  }
}
