html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include font(16px, 20px);
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: $font-main;
  color: $font-main-color;
  background-color: $bg-main-color;
  font-weight: 400;

  counter-reset: section;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
