/*шрифт*/
/*$oswald: "Oswald",
'Arial',
sans-serif;*/

/*цвета*/
$black:#000000;
$bg-grey:#f2f2f2;
$white:#ffffff;
$bg-green:#68b738;
$f-color:#444444;
$brd:#cdcdcd;
$brd1:#ededed;
$brd2:#d9d9d9;
$brd3: #e6e6e6
