/*цвета*/
$font-main-color: #000000;
$bg-other-color: #f2f2f2;
$bg-main-color: #ffffff;
$white: #ffffff;
$button-color: #68b738;
$font-other-color: #444444;
$border-catalog-color: #ededed;
$border-menu-color: #e6e6e6;
$border-categories-color: #d9d9d9;
$border-social-color: #d9d9d9;
$border-field-color: #e6e6e6;
$border-slider__controls: #cdcdcd;

/*шрифты*/
$font-main: "Oswald", "Arial", sans-serif;
$font-other: "Arial", sans-serif;

/*брейкпонты*/
$tablet-width: 768px;
$desktop-width: 1300px;
